.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.primary {
  color: #7e41ff;
}

.logo {
  width: 7%;
  height: 7%;
}
